.dropdown-item:hover{
  color: white !important;
}

.nav-link-active{
  background-color: white;
  color: palevioletred !important;
}
.nav-link-inactive:hover{
  background-color: white;
  color: palevioletred !important;
  margin:0 2px;
}
a{
  text-decoration: none !important;
}


.dashboard-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: rgb(197, 95, 129);
  text-shadow: 1px 0px 0px black;

}
.dashboard-item{
  width: 30%;
  height: 15rem;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
  padding: 3rem 4rem ;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  box-shadow:  1px 1px 1px 2px rgb(219, 213, 213); 
  margin-bottom: 1rem;
  
  }

  .dashboard-item i{
    font-size: 2rem;
  }
.dashboard-item p{
  font-size: 1.5rem;
  font-weight: bolder;
  
}

.dashboard-item div{
  font-size: 1rem;
  text-shadow: none;
}

.search-form-select{
  padding: .7rem .5rem !important;
  border: 1px solid gainsboro !important;
  border-radius: 4px;
  cursor: pointer ;
}

.form-control::placeholder{
   color: gray;
}
.switch{
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 15px;
  margin-bottom: 1rem;

}

.switch div{
  border: 1px solid palevioletred;
  font-size: 1rem;
  text-align: center;
  padding: .5rem;
  flex: 1;
  cursor: pointer;
  color: palevioletred;
  background-color: white;

}



.switch .chosen-gallery-type{
 color: white;
 background-color: palevioletred;
}

.location-item-info{
  display: flex !important;
  justify-content: space-between !important;
  flex-direction: column;
  gap: 2rem;
  
}

.location-item-info i{
  font-size: 1.6rem;
  color: palevioletred;
 
}

.location-item-info i:hover{
  font-size: 1.6rem;
  color: rgb(196, 100, 132);
}


@media(max-width : 1280px){
  .dashboard-items{
   /* flex-direction: column; */
   align-items: center; 
   gap: 1rem;
  }

  .dashboard-item{
    width: 45%;
  }
}
@media(max-width : 768px){
  .dashboard-items{
    flex-direction: column;
    align-items: center; 
    gap: 1rem;
   }
 
   .dashboard-item{
     width: 90%;
   }
  .single-image-grid{
   flex-direction: column;
    align-items: center;
    
  }
  .single-image-grid img{
    width: 90%;
    height: 20rem;
    
  }
}
@media(max-width : 400px){
  .single-property-details .image-grid img{
    width: 100%;
    height: 10rem;
    gap: 1rem;
  }
}